<div class="campaigns-header">
  <h1><%= t(:sign_up) %></h1>
</div>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
        <div class="panel panel-default">
          <div class="panel-body">
    
            <p>
              <%= t(:first_name) %>
              <%= f.text_field :first_name, autofocus: true, class: "textfield" %><br />
            </p>

            <p>
              <%= t(:last_name) %>
              <%= f.text_field :last_name, class: "textfield" %><br />
            </p>
            
            <p>
              <%= t(:born_at) %>
              <%= f.date_select :born_at, { :start_year => 1950 } %><br />
            </p>

            <p>
              <%= t(:email) %><br />
              <%= f.email_field :email, autofocus: true, class: "textfield" %>
            </p>
            
            <p>
              <%= t(:password) %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "off", class: "textfield" %>
            </p>
          
            <p>
              <%= t(:password_confirmation) %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "textfield" %>
            </p>

            <p>
              <%= f.submit t(:sign_up), class: "btn btn-primary" %>
            <p>

          </div>
        </div>     
      <% end %>
    </div>
  </div>
</section>
