<div class="campaigns-header">
  <h1><%= t(:forgot_your_password) %></h1>
</div>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
        <div class="panel panel-default">
          <div class="panel-body">

            <p>
              <%= t(:email) %><br />
              <%= f.email_field :email, autofocus: true, class: "textfield" %>
            </p>

            <p>
              <%= f.submit t(:send), class: "btn btn-primary" %>
            <p>

            <%= render "devise/shared/links" %>  
          </div>
        </div>     
      <% end %>
    </div>
  </div>
</section>