<div class="col-md-4 col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
    <%= account.name %>
    </div>
    <div class="panel-body">
      <p>
        <%= image_tag account.image.url(:large).to_s if account.image? %>              
      </p>
    </div>
    <div class="panel-footer">

      <p>
        <%= link_to t(:show), campaigns_path(account.url), class: "btn btn-primary" %>
      </p>

    </div>
  </div>
</div>