<div class="col-md-4 col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
    <%= campaign.name %>
    </div>
    <div class="panel-body">
      <p>
        <%= campaign.introduction %>
      </p>
      <p>
        <%= image_tag campaign.image.url(:large).to_s if campaign.image? %>              
        <br>                
        <b><%= t(:start_date) %>:</b>
        <%= campaign.start_date %>
        <br>
        <b><%= t(:end_date) %>:</b>
        <%= campaign.end_date %>
      </p>
    </div>
    <div class="panel-footer">
      <p>
        <%= link_to t(:show), campaign_path(campaign, tenant: campaign.account.url), class: "btn btn-primary" %>
        <%= show_subscribe_or_message(campaign, tenant: campaign.account.url) %>
      </p>
    </div>
  </div>
</div>