<li><%= link_to t(:home), root_path, class: "page-scroll" %></li>

<% if params[:tenant].present? %>
  <li><%= link_to t(:campaigns), campaigns_path( tenant: current_account.url ), class: "page-scroll" %></li>
  <% if user_signed_in? %>
    <li><%= link_to t(:my_campaigns), subscriptions_path, class: "page-scroll" %></li>
    <li><%= link_to t(:edit_user), edit_user_registration_path, class: "page-scroll" %></li>
    <li><%= link_to t(:sign_out), destroy_user_session_path, :method => :delete, class: "page-scroll" %></li>
  <% else %>
    <li><%= link_to t(:sign_up), new_user_registration_path, class: "page-scroll" %></li>
    <li><%= link_to t(:sign_in), new_user_session_path, class: "page-scroll" %></li>
  <% end %> 
<% end %>