body 
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000;
  background-color: #add8e6;
}

.bg-primary {
  background-color: #cc0099;
}