<div class="campaigns-header">
  <h1><%= t(:edit) %></h1>
</div>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">   
      <%= form_for(@subscription) do |f| %>
        <div class="panel panel-default">
          <div class="panel-body">
         
            <p>
              <%= t(:email) %><br />
              <%= f.email_field :email, autofocus: true, class: "textfield" %>
            </p>
            
            <p>
              <%= t(:address1) %>:
              <%= f.text_field :address1 %><br>

              <%= t(:address2) %>:
              <%= f.text_field :address2 %>
            </p>
        
            <p>
              <%= t(:zip_code) %>:
              <%= f.text_field :zip_code %>
            </p>

            <p>
              <%= t(:zip_location) %>:
              <%= f.text_field :zip_location %>
            </p>

            <p>
              <%= t(:phone_number) %>:
              <%= f.text_field :phone_number %>
            </p>

            <p>
              <%= t(:cell_phone_number) %>:
              <%= f.text_field :cell_phone_number %>
            </p>

            <p>
              <%= f.submit t(:update), class: "btn btn-primary" %>
              <%= link_to t(:back), :back , class: "btn btn-primary" %>
            <p>


          </div>
        </div>    
      <% end %> 
    </div>
  </div>
</section>