<div class="campaigns-header">
  <h1><%= t(:my_campaigns) %></h1>
</div>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <% @subscriptions.each do |subscription| %>
        <%= render partial: 'shared/campaign', locals: {campaign: subscription.campaign} %>
        
        <% if false %>
        <div class="col-md-4 col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
            <%= subscription.campaign.name %>
            </div>
            <div class="panel-body">
              <p>
                <%= subscription.agreement.name %>
              </p>

            </div>
            <div class="panel-footer">
              <p>
                <b><%= link_to t(:show), subscription_path(subscription), class: "btn btn-primary" %></b>
              </p>
            </div>
          </div>
        </div>
        <% end %>

      <% end %>
    </div>
  </div>
</section>
