<div class="campaigns-header">
  <h1>Campaign Subscription</h1>
</div>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">

        <div class="col-md-6 col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
            <%= @campaign.name %>
            </div>
            <div class="panel-body">
              <p>
                <%= @campaign.introduction %>
              </p>
              <p>
                <%= image_tag @campaign.image.url(:large).to_s if @campaign.image? %>              
                <br>                
                <b><%= t(:start_date) %>:</b>
                <%= @campaign.start_date %>
                <br>
                <b><%= t(:end_date) %>:</b>
                <%= @campaign.end_date %>
              </p>
            </div>
            <div class="panel-footer">
              <p>
                <b><%= link_to t(:show), campaign_path(@campaign, tenant: @campaign.account.url), class: "btn btn-primary" %></b>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6">
          <% url = url_for(controller: 'subscriptions', action: 'create') %>
          <%= form_for(@subscription, url: url) do |f| %>
            <div class="panel panel-default">
              <div class="panel-body">
                <p>
                  <%= t(:email) %>
                  <%= f.text_field :email, autofocus: true, class: "textfield" %><br />
                </p>
                <p>
                  <%= t(:address1) %>
                  <%= f.text_field :address1, autofocus: true, class: "textfield" %><br />
                </p>
                <p>
                  <%= t(:address2) %>
                  <%= f.text_field :address2, autofocus: true, class: "textfield" %><br />
                </p>
                <p>
                  <%= t(:zip_code) %>
                  <%= f.text_field :zip_code, autofocus: true, class: "textfield" %><br />
                </p>
                <p>
                  <%= t(:zip_location) %>
                  <%= f.text_field :zip_location, autofocus: true, class: "textfield" %><br />
                </p>
                <p>
                  <%= t(:phone_number) %>
                  <%= f.text_field :phone_number, autofocus: true, class: "textfield" %><br />
                </p>
                <p>
                  <%= t(:cell_phone_number) %>
                  <%= f.text_field :cell_phone_number, autofocus: true, class: "textfield" %><br />
                </p>
                <p>
                  <%= f.hidden_field :campaign_id %>
                </p>              
              </div>
              <div class="panel-footer">
                <p>
                  <%= f.submit t(:subscribe), class: "btn btn-primary" %>
                  <%= link_to t(:back), campaigns_path(tenant: @campaign.account.url), class: "btn btn-primary" %>
                </p>
              </div>
            </div>
          <% end %>
        </div>

    </div>
  </div>
</section>
