<div class="campaigns-header">
  <h1><%= t(:subscription) %></h1>
</div>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">

            <p id="notice"><%= notice %></p>
            
            <p>
              <%= t(:email) %>:
              <%= @subscription.email %>
            </p>
            
            <p>
              <%= t(:address1) %>:
              <%= @subscription.address1 %><br>
              <%= t(:address2) %>:
              <%= @subscription.address2 %>
            </p>
        
            <p>
              <%= t(:zip_code) %>:
              <%= @subscription.zip_code %>
            </p>

            <p>
              <%= t(:zip_location) %>:
              <%= @subscription.zip_location %>
            </p>

            <p>
              <%= t(:phone_number) %>:
              <%= @subscription.phone_number %>
            </p>

            <p>
              <%= t(:cell_phone_number) %>:
              <%= @subscription.cell_phone_number %>
            </p>

            <p>
              <%= t(:campaign) %>:
              <%= @subscription.campaign.name %>
            </p>

            <p>
              <%= t(:agreement) %>:
              <%= @subscription.agreement.name %>
            </p>

            <p>
              <%= link_to t(:back), subscriptions_path, class: "btn btn-primary" %>
            <p>
              <% if false %>
              <%= link_to t(:edit), edit_subscription_path, class: "btn btn-primary" %>
              <% end %>

          </div>
        </div>     
    </div>
  </div>
</section>

