<div class="campaigns-header">
  <h1><%= t(:sign_in) %></h1>
</div>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="panel panel-default">
          <div class="panel-body">

            <p>
              <%= t(:email) %><br />
              <%= f.email_field :email, autofocus: true, class: "textfield" %>
            </p>
            
            <p>
              <%= t(:password) %>
              <%= f.password_field :password, autocomplete: "off", class: "textfield" %>
            </p>
        
            <p>
              <% if devise_mapping.rememberable? -%>
                <%= f.check_box :remember_me %>
                <%= t(:remember_me) %>
              <% end %>
            </p>

            <p>
              <%= f.submit t(:sign_in), class: "btn btn-primary" %>
            <p>

            <%= render "devise/shared/links" %>  
          </div>
        </div>     
      <% end %>
    </div>
  </div>
</section>

