<h1>Admin Login</h1>

<%= form_for(@admin_users) do |f| %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>

<% end %>