<%= form_for(@agreements) do |f| %>
  <% if @agreements.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agreements.errors.count, "error") %> prohibited this agreements from being saved:</h2>

      <ul>
      <% @agreements.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :text %><br>
    <%= f.cktext_area :text %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :admin_user_id %>
  </div>

  <% if false %>
  <div class="form-group">
    <%= f.label :publish_at %><br>
    <%= f.datetime_select :publish_at, { :start_year => 1990 } %>
  </div>
  <div class="form-group">
    <%= f.label :discontinued_at %><br>
    <%= f.datetime_select :discontinued_at %>
  </div>
  <% end %>
  <br>
  <br>
  <div class='fr'>
    <%= f.submit 'Save' %>
    <%= link_to 'Back', :back %>
  </div>
<% end %>
