<h2>Previous Versions</h2>
 
<table class='table'>
  <thead>
    <tr>
      <th>Index</th>
      <th>Date</th>
      <% if false %><th>Author</th><% end %>
      <th>Event</th>
      <th></th>
    </tr>
  </thead>
 
  <tbody>
    <%- agreement.versions.reverse.each do |version| %>
      <tr>
        <td><%= raw version.index %></td>
        <td><%= version.created_at %></td>
        <% if false %><td><%= find_version_author_name(version) %></td><% end %>
        <td><%= version.event.humanize %></td>
        <td><%= link_to 'Diff', diff_agreement_version_path(agreement, version) %></td>
      </tr>
    <% end %>
  </tbody>
</table>