<h1>Bring back agreement</h1>
<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Deleted by</th>
      <th>At</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @agreements.each do |agreement_version| %>
      <%- agreement = agreement_version.reify %>
      <tr>
        <td><%= agreement.id %></td>
        <td><%= agreement.name %></td>
        <td><%= agreement.content %></td>
        <td><%= find_version_author_name(agreement_version) %></td>
        <td><%= agreement.created_at %></td>
        <td><%= link_to 'Bringback', bringback_version_path(agreement_version), method: 'PATCH' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Back', agreements_path %>