<h1>Listing agreements</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Creator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agreements.each do |agreement| %>
      <tr>
        <td><%= raw agreement.name %></td>
        <td><%= raw agreement.admin_user_id %></td>
        <td><%= link_to 'Show', agreement_path(agreement, account: agreement.account.url) %></td>
        <td><%= link_to 'Edit', edit_agreement_path(agreement, account: agreement.account.url) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New agreement', new_agreement_path %>
