<div class="campaigns-header">
  <h1><%= raw @agreement.name %></h1>
</div>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">

        <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>
                <%= raw @agreement.text %>
              </p>
              
            </div>
            <div class="panel-footer">
              <p>
                <b><%= link_to t(:back), campaigns_path, class: "btn btn-primary" %></b>
              </p>
            </div>
          </div>
        </div>

    </div>
  </div>
</section>