<div class="campaigns-header">
  <h1><%= t(:campaigns) %></h1>
</div>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <% @campaigns.each do |campaign| %>
        <div class="col-md-4 col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
            <%= campaign.name %>
            </div>
            <div class="panel-body">
              <p>
                <%= campaign.introduction %>
              </p>
              <p>
                <%= image_tag campaign.image.url(:large).to_s if campaign.image? %>              
                <br>                
                <b><%= t(:start_date) %>:</b>
                <%= campaign.start_date %>
                <br>
                <b><%= t(:end_date) %>:</b>
                <%= campaign.end_date %>
              </p>
            </div>
            <div class="panel-footer">
              <p>
                <b><%= link_to t(:show), campaign_path(campaign), class: "btn btn-primary" %></b>
                <b><%= link_to t(:subscribe), new_campaign_subscription_path(campaign), class: "btn btn-primary" %></b>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>