<div class="campaigns-header">
  <h1><%= t(:campaigns) %></h1>
</div>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <% @campaigns.each do |campaign| %>
        <%= render partial: 'shared/campaign', locals: {campaign: campaign} %>
      <% end %>
    </div>
  </div>
</section>