<div class="campaigns-header">
  <h1><%= @campaign.name %></h1>
</div>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">

        <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>
                <%= @campaign.introduction %>
              </p>
              <p>
                <%= @campaign.description %>
              </p>
              <p>
                <%= @campaign.product %>
              </p>
              <p>
                <%= image_tag @campaign.image.url(:thumb).to_s if @campaign.image? %>
              </p>
              <p>
                <%= link_to @campaign.agreement.name, agreement_path(@campaign.agreement, tenant: @campaign.agreement.account.url) %>
              </p>
              <p>
                <b><%= t(:start_date) %>:</b>
                <%= @campaign.start_date %>
              </p>
              <p>                
                <b><%= t(:end_date) %>:</b>
                <%= @campaign.end_date %>
              </p>
            </div>
            <div class="panel-footer">
              <p>
                <b><%= show_subscribe_or_message(@campaign, tenant: @campaign.account.url) %></b>
                <b><%= link_to t(:back), campaigns_path(tenant: @campaign.account.url), class: "btn btn-primary" %></b>
              </p>
            </div>
          </div>
        </div>

    </div>
  </div>
</section>
