<h1>Log in 123</h1>

<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  
  <div class="field">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  </div>
  
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>

<% end %>