<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Born at:</strong>
  <%= @user.born_at %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<!--
<p>
  <strong>Password:</strong>
  <%= @test.password %>
</p>

<p>
  <strong>Password confirmation:</strong>
  <%= @test.password_confirmation %>
</p>
-->

<%= button_to 'Edit', edit_test_path(@user), :method => :get %> 
<%= button_to 'Back', tests_path, :method => :get %>
