<!DOCTYPE html>
<html>
<head>
  <title>TestV1 ----</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'ckeditor/ckeditor.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<script type="text/javascript">$(document).ready(function() {
    if ($('textarea').length > 0) {
        var data = $('textarea');
        $.each(data, function(i) {
            CKEDITOR.replace(data[i].id);
        });
    }
});</script>

    <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= value.html_safe %>
      </div>
    <% end %>
  </div>

<% if false %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<% end %>

<%= yield %>

</body>
</html>
