<div class="campaigns-header">
  <h1><%= t(:accounts) %></h1>
</div>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <% @accounts.each do |account| %>
        <div class="col-md-4 col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
            <%= account.name %>
            </div>
            <div class="panel-body">
              <p>
                <%= image_tag account.image.url(:large).to_s if account.image? %>              
              </p>
            </div>
            <div class="panel-footer">

            <% if true  %>
              <p>
                <b><%= link_to t(:show), campaign_path(campaign, tenant: campaign.account.url), class: "btn btn-primary" %></b>
                <b><%= link_to t(:subscribe), new_campaign_subscription_path(campaign, tenant: campaign.account.url), class: "btn btn-primary" %></b>
              </p>
            <% end %>
            
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>