<div class="campaigns-header">
  <h1><%= t(:accounts) %></h1>
</div>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <% @accounts.each do |account| %>
        <%= render partial: 'shared/account', locals: {account: account} %>
      <% end %>
    </div>
  </div>
</section>